body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

#personalizacion {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#peliculas {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta-pelicula {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.tarjeta-pelicula img {
    width: 100%;
    height: auto;
}
